<h1>See Loan Status</h1>
<form [formGroup]="searchForm" (ngSubmit)="onSubmit()">
  <label for="email-address">Enter your email to view loan status:</label>
  <input id="email-address" type="email" formControlName="emailAddress">

  <button type="submit" [disabled]="!searchForm.valid">Search</button>
</form>

<hr>
<p *ngIf="hasSearched && (loanSubmissions == null ||  loanSubmissions.length == 0)">No loans found</p>
<table *ngIf="loanSubmissions != null && loanSubmissions.length > 0">
  <tr>
    <th>Full Name</th>
    <th>Email Address</th>
    <th>Annual Income</th>
    <th>Loan Request Amount</th>
    <th>Total Payable</th>
    <th>Approved?</th>
  </tr>
  <tr *ngFor="let loan of loanSubmissions">
    <td>{{loan.fullName}}</td>
    <td>{{loan.emailAddress}}</td>
    <td>{{loan.annualIncome| currency:'GBP'}}</td>
    <td>{{loan.loanRequestAmount | currency:'GBP'}}</td>
    <td>{{loan.totalPayable| currency:'GBP'}}</td>
    <td>{{friendlyNames[loan.status]}}</td>
  </tr>
</table>
