<div>
  <div class="row">
    <div class="col"><h1>Review Loans</h1>
    </div>
    <div class="col">
      <div class="alert alert-success" *ngIf="isSnackBarVisible">Operation successful</div>
    </div>
  </div>
</div>
<table>
  <tr>
    <th>Full Name</th>
    <th>Email Address</th>
    <th>Annual Income</th>
    <th>Loan Request Amount</th>
    <th>Total Payable</th>
    <th>Approve</th>
  </tr>
  <tr *ngFor="let loan of loanSubmissions">
    <td>{{loan.fullName}}</td>
    <td>{{loan.emailAddress}}</td>
    <td>{{loan.annualIncome| currency:'GBP'}}</td>
    <td>{{loan.loanRequestAmount | currency:'GBP'}}</td>
    <td>{{loan.totalPayable| currency:'GBP'}}</td>
    <td>
      <select [selectedIndex]="loan.status" (change)="approveSelectionChanged($event,loan.loanSubmissionId)">
        <option value="0">In Progress</option>
        <option value="1">Approved</option>
        <option value="2">Denied</option>
      </select>
    </td>
  </tr>
</table>
