<h1>Request a Loan:</h1>
<form [formGroup]="profileForm" (ngSubmit)="onSubmit()">
  <div class="container ">
    <div class="row">
      <div class="col">

        <label for-="title">Title:</label>
        <select id="title" formControlName="title">
          <option value="Mr">Mr</option>
          <option value="Mrs">Mrs</option>
          <option value="Other">Other</option>
        </select>

        <label for="full-name">Full Name: </label>
        <input id="full-name" name="fullName" type="text" formControlName="fullName" required>

        <div id="address">
          <h3>Address</h3>

          <label for="street">Street: </label>
          <input id="street" type="text" formControlName="street">

          <label for="city">City: </label>
          <input id="city" type="text" formControlName="city">

          <label for="county">County: </label>
          <input id="county" type="text" formControlName="county">

          <label for="post-code">Post Code: </label>
          <input id="post-code" type="text" formControlName="postCode">
        </div>

        <label for="mobile-number">Mobile Number:</label>
        <input id="mobile-number" type="tel" formControlName="mobileNumber">
      </div>
      <div class="col">
        <label for="email-address">Email Address:</label>
        <input id="email-address" type="email" formControlName="emailAddress">

        <label for="annual-income">Annual Income (£):</label>
        <input id="annual-income" type="number" formControlName="annualIncome">

        <label for="is-home-owner">Are you a homeowner?</label>
        <input id="is-home-owner" type="checkbox" formControlName="isHomeOwner">

        <label for="car-reg">Car Registration (optional)</label>
        <input id="car-reg" type="text" formControlName="carRegistration">

        <label for="loan-amount">Loan Request Amount (£):</label>
        <input id="loan-amount" type="number" formControlName="loanRequestAmount">

      </div>
    </div>
    <div class="row">
      <div class="alert alert-warning" role="alert" *ngIf="!profileForm.valid && !profileForm.disabled">
        There are invalid or incomplete fields.
      </div>
      <button type="submit" *ngIf="profileForm.valid && !profileForm.disabled" [disabled]="!profileForm.valid">Submit</button>
    </div>
  </div>

</form>
<hr>
<div  *ngIf="loanSubmissionResponse != null">
  <p>Application successful. Loan details are shown below:</p>
  <table>
    <tr>
      <td>Amount Of Credit:</td>
      <td>{{loanSubmissionResponse.loanRequestAmount| currency:'GBP'}}</td>
    </tr>
    <tr>
      <td>Total Amount Payable:</td>
      <td>{{loanSubmissionResponse.totalPayable | currency:'GBP'}}</td>
    </tr>
    <tr>
      <td>Repayments:</td>
      <td>
        <span>{{loanSubmissionResponse.numberOfTerms}}</span>x<span>{{loanSubmissionResponse.repaymentPerMonth| currency:'GBP'}}</span>
      </td>
    </tr>
    <tr>
      <td>APR:</td>
      <td>{{loanSubmissionResponse.apr| percent : '1.2-2'}}</td>
    </tr>
  </table>
</div>



