form {
  padding-top: 1rem;
}

label {
  display: block;
  margin: .5em 0;
  font-weight: bold;
}

input[type=text],input[type=number],input[type=email],input[type=tel], select {
  width: 100%;
  padding: 7px 10px;
  margin: 4px 0;
  display: inline-block;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box;
}


input[type=submit],button {
  width: 100%;
  background-color: #4CAF50;
  color: white;
  padding: 7px 10px;
  margin: 4px 0;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

button[disabled]{
  background-color: grey;
}

input[type=submit]:hover {
  background-color: #45a049;
}

.ng-invalid:not(form){
  border: 3px solid #a94442;
}

table {
  font-family: arial, sans-serif;
  border-collapse: collapse;
  width: 100%;
  border: 5px solid black;
  font-weight: bold;
}

td, th {
  border: 1px solid grey;
  text-align: left;
  padding: 8px;
  width:50%;
}

#address{
 margin: 30px 0px;
}
